.rotating-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: url('favicon.ico');
  background-size: cover;
  animation: rotateAnimation 4s linear infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: perspective(200px);
  }
  100% {
    transform: perspective(200px) rotateY(360deg);
  }
}